body {
	font-family: 'Calibri';
	overflow: scroll !important;
}

.main .navbar-brand {
	/* background: url(images/logo.png) center / contain no-repeat; */
	width: 200px;
	transform: translateX(-50%);
	font-size: 40px;
	left: 50%;
	position: absolute;
}

.main .avatar {
	width: 50px;
	height: 50px;
}

.dashboard-main {
	margin-top: 40px;
	margin-left: 5px;
	border-color: lightgray !important;
}

.tblHead {
	background-color: #337ab7;
	color: #FFF !important
}

.box {
	border-radius: 0px !important;
}

.modal-header-primary {
	color: #fff;
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	background-color: #337ab7;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#projectlist_filter {
	text-align: left;
}

#projectlist_filter input {
	margin-left: 0px;
}

#projectlist_wrapper .dt-buttons {
	float: right;
}

#requestlist_filter {
	text-align: left;
}

#requestlist_filter input {
	margin-left: 0px;
}

#requestlist_wrapper .dt-buttons {
	float: right;
}

.footer {
	background-color: #f5f5f5;
	bottom: 0;
	height: 30px;
	position: absolute;
	width: 100%;
}

.proj-health {
	height: 20px;
	width: 20px;
	margin: 0 auto;
}

.health-g {
	background: url(images/green.png) center/contain no-repeat;
}

.health-y {
	background: url(images/yellow.png) center/contain no-repeat;
}

.health-r {
	background: url(images/red.png) center/contain no-repeat;
}

#username-header {
	margin-top: 15px;
	margin-right: 5px;
}

#dashboard-item li:hover {
	cursor: pointer;
	cursor: hand;
}

.current-dashboard {
	font-weight: bold;
	border-left-color: #44bbff;
	border-left-width: 3px !important;
}

.top5 {
	margin-top: 5px;
}

.top7 {
	margin-top: 7px;
}

.top10 {
	margin-top: 10px;
}

.top15 {
	margin-top: 15px;
}

.top17 {
	margin-top: 17px;
}

.top30 {
	margin-top: 30px;
}

.top45 {
	margin-top: 45px;
}

.common-label {
	width: 25%;
	font-weight: normal;
}

.common-input {
	height: 30px;
	display: inline;
	width: 73%;
}

.margin-left-35 {
	margin-left: 35px;
}

.margin-right-minus-35 {
	margin-right: -35px;
}

.margin-left-3 {
	margin-left: 3px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.pad-right-25 {
	padding-right: 25px;
}

.common-search {
	top: 2px;
	margin-left: -25px;
}

.common-search:hover {
	cursor: pointer;
	cursor: hand;
}

#reqinfo-div .common-label {
	width: 49%;
	font-weight: normal;
}

#reqinfo-div .common-input {
	height: 30px;
	display: inline;
	width: 50%;
}

#reqinfo-div .common-textarea {
	height: 60px;
	display: inline;
	width: 50%;
	resize: none;
}

.selected {
	background-color: graytext !important;
	color: #fff;
}

.common-table tbody tr {
	cursor: pointer;
	cursor: hand;
}

.req-status-health {
	display: inline-block;
	position: relative;
	top: -65px;
	left: 180px;
	width: 25px;
	height: 25px;
	border: 2px solid gray;
	border-radius: 50px;
}

.margin-right-40 {
	margin-right: 40px;
}

.req-status-arrow {
	display: inline-block;
	position: relative;
	top: -35px;
	left: 202px;
	width: 30px;
	height: 30px;
}

.req-status-arrow.no-fill {
	background: rgba(0, 0, 0, 0) url("images/arrow-l-nf.png") no-repeat
		scroll center center/contain;
}

.req-status-arrow.fill {
	background: rgba(0, 0, 0, 0) url("images/arrow-l-f.png") no-repeat
		scroll center center/contain;
}

.req-status-panel {
	margin-left: 5px;
	margin-right: 5px;
}

.margin-left-70 {
	margin-left: 70px;
}

.status-dtl {
	height: 60px;
}

.finish-flag {
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: -40px 0px -20px 15px;
	background: rgba(0, 0, 0, 0) url("images/flag.png") no-repeat scroll
		center center/contain;
}

#projInfra .common-input {
	width: 72%;
	padding-right: 25px;
}

#projInfra .common-label {
	width: 26%;
	font-weight: normal;
}

#proj-period .common-label {
	width: 40%;
	font-weight: normal;
}

#proj-period .input-group {
	width: 59%;
	display: inline-flex
}

#proj-period .btn-default {
	height: 30px;
}

.panel-heading {
	font-weight: 700;
}

span.date {
	width: 26%;
}

.date .common-input {
	width: 85%;
}

.currency {
	text-align: right;
}

/* Rochelle */
.common-editable-fields {
	background: #fff !important;
}

.panelBody {
	background: rgba(159, 198, 238, 0.38) !important;
}