<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:src/main/resources/projmanagement.sqlite</property>
        <!-- <property name="hibernate.connection.url">jdbc:sqlite:projmanagement.db</property> -->
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- <property name="hibernate.enable_lazy_load_no_trans">true</property> -->
        <mapping class="com.ciexperts.projectmanagement.entity.Project"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.ProjectPeriod"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.ProjectInfra"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.ProjectCost"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.Request"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.RequestHistory"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.RequestStatus"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.ProjectHistory"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.ProjectStatus"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.RequestAttachment"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.ProjectAttachment"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.User"></mapping>
        <mapping class="com.ciexperts.projectmanagement.entity.UserRole"></mapping>
    </session-factory>
</hibernate-configuration>